.sidebar-left {
	background: $dark;
	min-height: 800px;
	padding-right: 0px;
	margin-right: $pad;
	.sidebar-body {
		padding: $pad;
	}	
	.tab-button {
		padding: $button-padding;
		text-align: center;
		background: $darker;
		cursor: pointer;
		@include box-shadow(inset,-69px,-82px,139px,-180px);
		&.active {
			background: $dark;
			@include box-shadow(inset,0px,0px,0px,0px);
		}
	}
}
