a:link {
	color: $base-color; 
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

input {
	background: white;
	border: 1px solid  $border-color;
	padding: 0px;
}

.highlight {
	background-color: yellow;
}

.hidden {
	display: none !important;
}

