@import url('https://fonts.googleapis.com/css?family=Work+Sans');

$font: 'Work Sans', 'sans-serif';

// === Color
$base-color: #0099ff;
$link-color: $base-color;

$link-nav-color: white;
$link-nav-hover-color: #f2f2f2;

$border-color: #D3D3D3;

// === Borders
$border-width: 1px;
$border-radius: 2px;


// === Navbar
$nav-height: 50px;
